html {
  font-size: 2vw;
}

body {
  margin: 0;
}

header {
  background-color: black;
  opacity: 0.7;
  position: fixed;
  width: 100%;
  padding: 10px 0 10px 0;
}

.container {
  margin: 0 2rem 0 2rem;
  /* width: 100%; */
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-left h1 {
  color: white;
  font-size: 1.5rem;
  margin: 0;
}

.header-right a {
  color: white;
  transition: transform 0.5s ease, color 0.5s ease;
}

.header-right a:hover {
  color: azure;
  transform: scale(1.1);
}

.top-wrapper {
  background-image: url("img/top_img.jpg");
  background-size: cover;
  background-position: contain;
  background-repeat: no-repeat;
  width: 100%;
  aspect-ratio: 16 / 9;
  display: flex;
  justify-content: center;
  align-items: center;
}

.top-wrapper h1 {
  color: white;
  font-size: 4em;
}

.about-wrapper {
  display: flex;
  justify-content: space-around;
  padding: 20px 0 20px 0;
  width: 100%;
  background-color: #fff7d1;
}

.about {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.about-wrapper h1 {
  margin: 0 0 20px 0;
  display: flex;
  justify-content: center;
  width: 100%;
}

.my-photo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
  padding: 10px 10px 10px 10px;
  border: 2px solid #000;
}

.my-photo img {
  width: 90%;
  height: 90%;
}

.about-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.about-text p {
  margin: 0.5rem 0 0.5rem 0;
}

.portfolio-wrapper {
  background-color: #ffecc8;
  padding: 20px 0 20px 0;
}

.portfolio h1 {
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
  margin: 0;
}

.portfolio-items {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.portfolio-item {
  width: 30%;
  height: 100%;
  border: #000 2px solid;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 10px 0 10px;
}

.portfolio-item h2 {
  margin: 10px 0 10px 0;
}

.portfolio-item img {
  width: 80%;
  height: 100%;
}

.contact-wrapper {
  background-color: #fff7d1;
  padding: 20px 0 20px 0;
}

.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact h1 {
  margin: 0;
}

.contact p {
  margin: 0.5rem 0 0.5rem 0;
}

.contact-form {
  width: 70%;
}

.contact-form form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-text {
  height: 1rem;
  width: 50%;
  margin-bottom: 10px;
}

.form-text:focus {
  border: 2px solid #000;
}

.form-textarea {
  height: 10rem;
  width: 50%;
  margin-bottom: 10px;
}

.form-submit {
  width: 50%;
  height: 1.2rem;
  background-color: black;
  color: white;
}

.form-submit:hover {
  background-color: gray;
  color: black;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  opacity: 0.7;
  margin: 0;
}

.footer p {
  color: white;
}
